.search_text{
    padding: 4px 8px;
    /* border: 1px; */
    /* border-radius: 1px; */
    /* border-color: #8d8d8d; */
}

.search_btn {
    display: inline-block;
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    border: 0;
    padding: 6px 12px;
}