<div class="d-flex justify-content-center">
    <ul class="pagination">
        {# 첫 페이지, 이전 #}
            {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">처음으로</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number|add:-1 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">이전</a>
        </li>
            {% endif %}

        {# 숫자 버튼#}
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="#">
                        {{ i }}
                    </a>
                </li>
                {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

        {# 다음, 마지막 #}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.number|add:1 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">마지막</a>
            </li>
        {% endif %}
    </ul>
</div>