<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 목록</title>
</head>
<body>
    <ul>
        {% for user in users %}
        <li>
            {{ loop.index }}번 username: {{ user["username"] }}
        </li>
        {% endfor %}
        <br>
        {% for user in users %}
        <li>
            {{ loop.index }}번 name: {{ user["name"] }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>