* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.container{
    height: 100%;
    background-color: #eed179;
}

.chat-screen{
    height: calc(100% - 120px);
}

/* 유저 정보 */
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}

.user_pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: skyblue;
}

.user_column{
    float: left;
}

.user_nick {
    font-weight: 600;
}

.user_nick, .user_count{
    margin: 5px;
}

.user_count{
    font-size: 12px;
    color: gray;
}

/* chat */
.chat-form {
    height: 120px;
    background-color: white;
}

.chat-form_field {
    height: 120px;

}

.chat-form_msg{
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    font-size: 24px;
    padding: 10px;
    resize: none;
    font-family: "Nanum Pen Script";
}

.chat-form_msg:focus{
    outline: none;
}

.chat-form_bt{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: aqua;
    font-size: 18px;
    float: right;
    font-family: "jua";
}

.chat-form_bt:active{
    background-color: aquamarine;
}