.container {
    border: 1px;
    border-color: gray;
    border-radius: 16px;
    background-color: skyblue;
    width: 440px;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    
}

.container div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
}

.data {
    padding: 0;
}


.data li {
    list-style-type: none;
    margin: 8px 0;
}

.back_btn {
    padding: 12px 20px;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: rgb(15, 15, 208);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}