{% extends 'base.html' %}
{% block title %}
    todo info
{% endblock %}

{% block content %}
    <h2>제목: {{ title }}</h2>
    <p style="display: inline">
        작성자: {{ user }}
        {% if request.user == user %}
        <a href="{% url 'cbv_todo_update' id %}">수정</a>
        <a href="{% url 'cbv_todo_delete' id %}">삭제</a>
{#        <form action="{% url 'cbv_todo_delete' id %}" method="post" style="display: inline"> #}
{#        {% csrf_token %} #}
{#        <button type="button">삭제</button> #}
{#        </form> #}
        {% endif %}
    </p>
    <hr>
    <p>설명: {{ description }}</p>
    <p>시작일: {{ start_date }}</p>
    <p>종료일: {{ end_date }}</p>
    <p>완료여부: {{ is_completed }}</p>
    <p>
    {% if create_at|date < modified_at|date %}
        수정일: {{ modified_at }}
    {% else %}
        작성일: {{ created_at }}
    {% endif %}
    </p>
    <a href="{% url 'cbv_todo_list' %}">목록</a>
{% endblock %}
